CONFIG_DRM=y
CONFIG_DRM_KMS_HELPER=y
CONFIG_DRM_FBDEV_EMULATION=y

CONFIG_DRM_ROCKCHIP=y
CONFIG_ROCKCHIP_VOP2=y

CONFIG_DRM_PANTHOR=m

CONFIG_IOMMU_SUPPORT=y
CONFIG_ROCKCHIP_IOMMU=y
CONFIG_PM=y
CONFIG_PM_DEVFREQ=y
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=y

CONFIG_RTW89=m
CONFIG_RTW89_PCI=m
CONFIG_RTW89_8852B=m
CONFIG_RTW89_8852BE=m